* {
    box-sizing: border-box;
}

html {
    margin: 0;
    border: 10px solid rgb(180, 159, 90);
    border-right-color: rgb(85, 81, 46);
    border-bottom-color: rgb(85, 81, 46);
}

body {
    margin: 0;
    background-image: url(../images/CSSBasicProps/crow.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

h2 {
    text-transform: uppercase;
}

div>p {
    color: white;
    text-indent: 50px;
}

.yellow {
    color: rgb(247, 223, 7);
}

.serif {
    font-family: 'Times New Roman', Times, serif;
}

.w50 {
    width: 50%;
}

.center {
    text-align: center;
}

.italic {
    letter-spacing: 0.1em;
    font-style: italic;
}

.underline {
    border-bottom: 1px solid orange;
}

hr {
    border-bottom: 2px solid rgb(180, 159, 90);
}